body {
    display: flex;
    flex-direction: column;
    background-color: beige;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
    background-color: beige;
}

header {
    background-color: aliceblue;
}

a {
    color: black;
}
  
a:visited {
    color: black;
}
  
a:hover {
    color: cyan;
}
  
a:active {
    color: cyan;
}